body {
    margin: 0;
}
@media (min-width: 1000px) {
    #sudoku-container {
        --square-size: 54px;
        padding: 40px;
    }
}

@media (max-width: 1000px) {
    #sudoku-container {
        /* we have 26px of border */
        --available-width: calc(100vw - 26px);
        --square-size: calc(var(--available-width) / 10);
        padding: calc(var(--available-width) / 20);
    }
}

#container {
    display: flex;
    flex-flow: row wrap;
}

#sudoku-container {
    display: inline-flex;
}

.sudoku {
    user-select: none;
    --text-size: calc(var(--square-size) / 1.8);
    --anno-size: calc(var(--text-size) / 3);
    font-size: var(--text-size);
}


.sudoku .cell, .sudoku {
    border: 1px solid black;
    border-spacing: 0px;
    padding: 0;
}

.sudoku .cell {
    width: var(--square-size);
    height: var(--square-size);
    text-align: center;
}

.sudoku .cell.selected .annotations {
    background-color: rgba(30, 30, 30, 0.4);
}

.sudoku .cell:nth-child(3n) {
    border-right:2px solid black;
}
.sudoku .cell:nth-child(3n + 1) {
    border-left: 2px solid black;
}
.sudoku .row:nth-child(3n) td {
    border-bottom:2px solid black;
}
.sudoku .row:nth-child(3n + 1) td {
    border-top:2px solid black;
}

.sudoku .cell-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: var(--square-size);
    height: var(--square-size);
}

.sudoku .annotations {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: var(--anno-size);
    z-index: 1;
}

.sudoku .cell.main-visible .annotations {
    visibility: hidden;
}

.sudoku .center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sudoku .main {
    width: 100%;
    z-index: 2;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.sudoku .corner {
    position: absolute;
    --corner-padding: 6%;
}

.sudoku .corner-0 {
    left: var(--corner-padding);
    top: var(--corner-padding);
}

.sudoku .corner-1 {
    right: var(--corner-padding);
    top: var(--corner-padding);
}

.sudoku .corner-2 {
    left: var(--corner-padding);
    bottom: var(--corner-padding);
}

.sudoku .corner-3 {
    right: var(--corner-padding);
    bottom: var(--corner-padding);
}

.sudoku .corner-4 {
    left: 50%;
    top: var(--corner-padding);
    transform: translate(-50%, 0);
}

.sudoku .corner-5 {
    left: 50%;
    bottom: var(--corner-padding);
    transform: translate(-50%, 0);
}

.sudoku .corner-6 {
    top: 50%;
    left: var(--corner-padding);
    transform: translate(0, -50%);
}

.sudoku .corner-7 {
    top: 50%;
    right: var(--corner-padding);
    transform: translate(0, -50%);
}

.sudoku .cell-container {
    background-color: hsla(calc(360 * (var(--color-index) - 2)/8), 70%, 70%);
}
.sudoku .cell-container[data-color="1"] {
    background-color: white;
}
.sudoku .cell-container[data-color="2"] {
    --color-index: 2;
}
.sudoku .cell-container[data-color="3"] {
    --color-index: 3;
}
.sudoku .cell-container[data-color="4"] {
    --color-index: 4;
}
.sudoku .cell-container[data-color="5"] {
    --color-index: 5;
}
.sudoku .cell-container[data-color="6"] {
    --color-index: 6;
}
.sudoku .cell-container[data-color="7"] {
    --color-index: 7;
}
.sudoku .cell-container[data-color="8"] {
    --color-index: 8;
}
.sudoku .cell-container[data-color="9"] {
    --color-index: 9;
}
